<div>
<%= form_for @user, url: create_session_path do |f| %>

<% flash.each do |key,value| %>
  <div class="<%=key %>" > <%= value %> </div>
<% end %>

  <%= f.label :email %>
  <br>
  <%= f.email_field :email %>
  <br>

  <%=f.label :password %>
  <br>
  <%=f.password_field :password %>
  <br>

  <%= f.submit "Log In" %>

<% end %>
</div>
