<div id="edit-profile">
  <div class="pf-row">
      <div>CHANGE TO EDIT Email</div>
      <div><%= @user.email %></div>
  </div>
  <div class="pf-row">
      <div>Password</div>
      <div><%= @user.password %></div>
  </div>
  <div class="pf-row">
      <div>I'm a</div>
      <div><%= @user.animal_type %></div>
  </div>
  <div class="pf-row">
      <div>Age</div>
      <div><%= @user.birthday %></div>
  </div>
  <div class="pf-row">
      <div>Gender</div>
      <div><%= @user.gender %></div>
  </div>
  <div class="pf-row">
      <div>I take shelter at</div>
      <div>The <%= @user.family_name %> Family</div>
  </div>
  <div class="pf-row">
      <div>They are located at</div>
      <div><%= @user.address %></div>
  </div>
  <div class="pf-row">
      <div>My Human's name is</div>
      <div><%= @user.created_at %></div>
  </div>
  <div class="pf-row">
      <div>I like to</div>
      <div><%= @user.hobby %></div>
  </div>
  <div class="pf-row">
      <div>And I love eating</div>
      <div><%= @user.fav_food %></div>
  </div>
  <div class="pf-row">
      <div>Member Since</div>
      <div><%= @user.created_at %></div>
  </div>
</div>
