<div id="show-profile">

  <div class="pf-row">
      <div>Hi, my name is</div>
      <div><%= @user.name %></div>
  </div>
  <div class="pf-row">
      <div>I'm a</div>
      <div><%= @user.animal_type %></div>
  </div>
  <div class="pf-row">
      <div>Gender</div>
      <div><%= @user.gender %></div>
  </div>
  <div class="pf-row">
      <div>Age</div>
      <div><%= @age %></div>
  </div>
  <div class="pf-row">
      <div>I take shelter at</div>
      <div>The <%= @user.family_name %> Family</div>
  </div>
  <div class="pf-row">
      <div>They are located at</div>
      <div><%= @user.address %></div>
  </div>
  <div class="pf-row">
      <div>My Human's name is</div>
      <div><%= @user.human_name %></div>
  </div>
  <div class="pf-row">
      <div>The email I borrow is</div>
      <div><%= @user.email %></div>
  </div>
  <div class="pf-row">
      <div>I like</div>
      <div><%= @user.hobby %></div>
  </div>
  <div class="pf-row">
      <div>And I love to eat</div>
      <div><%= @user.fav_food %></div>
  </div>
  <div class="pf-row">
      <div>Member Since</div>
      <div><%= @user.created_at %></div>
  </div>
  <div class="buttons">
    <% if current_user == @user %>
    <div class="btn btn-default" id="edit-profile-btn">
      Edit Profile
    </div>
    <div class="btn btn-danger">
      <%= link_to 'Delete Profile', @user, method: :delete,
          data: { confirm: 'Are you sure that you want to delete your profile?' }%>
    </div>
    <% end %>
  </div>

</div>
