<div id="index-header">
  <div id="index-intro">
    <div id="index-greeting">
      <%= link_to @user.name, user_path(@user) %> of the <%= @user.family_name %> family
    </div>
    <%= image_tag @user.profile_img,
        class: 'img-circle profile-img center-block' %>
    <div id="latest-blurb">
      "<%= @latest_blurb %>"
    </div>
    <div id="index-btn">Post</div>
    <%= render 'posts/new' %>
  </div>
</div>

<div id="index-content" class="container-fluid">
<div class="row">
  <div id="index-post" class="col-md-6 col-xs-12">
    <div id="index-post-header" class="accent">
      Latest Posts Around You
    </div>
    <div id="index-post-content">
      <%= render @posts %>
    </div>
  </div>
  <div id="index-search-and-news" class="col-md-6 col-xs-12">
    <div id="index-search">
      <div id="index-search-header" class ="accent">
        Search Friends
      </div>
      <div id="search-body">
        <%= form_tag('/users', method:"get") do %>
          Search by
          <%= select_tag "search", options_for_select([:name, :animal_type, :gender, :address]) %>
          <%= text_field_tag :query %>
          <%= submit_tag "Search", class: "btn btn-default btn-xs", id: "search-btn" %>
        <% end %>
        <br>
        <table class="table" id="users-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Gender</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user) %></td>
              <td><%= user.animal_type %></td>
              <td><%= user.gender %></td>
              <td><%= user.address %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="index-news">
      <div id="index-news-header" class ="accent">
        Pet News <span>from the Guardian</span>
      </div>
      <% @news.each do |news| %>
      <article>
        <%= link_to news['webTitle'], news['webUrl'], class: "news-title" %>
        &nbsp;&nbsp;
        <span id="news-date"><%= news['webPublicationDate'] %></span>
      </article>
      <% end %>
    </div>
  </div>
</div>
</div>


