<div id="user-profile">

    <div class="accent">A little about <%= @user.name %></div>
    <div><%= image_tag @user.profile_img,
        width: 300, height: 300, class: 'img-circle profile-img' %>
    </div>
    <%= render 'show_profile' %>
    <%= render 'edit_profile' %>

</div>

<div id="user-content">

    <div class="section-header">
        <div class="accent"><%= @user.name %>'s Voice</div>
        <div class="buttons" id="btn-to-header">
        <%= link_to 'Add Sound', new_sound_path, class: 'btn btn-default' %>
        </div>
    </div>
    <div id="user-sounds">
        <%= render @sounds %>
    </div>

    <div class="section-header">
        <div class="accent"><%= @user.name %>'s Posts</div>
        <div class="buttons" id="btn-to-header">
        <%= link_to 'Create Post', new_post_path, class: 'btn btn-default' %>
        </div>
    </div>
    <div id="user-posts">
        <%= render @posts %>
    </div>

</div>

