<div id="user-profile">

    <div class="accent">A little about <%= @user.name %></div>
    <div><%= image_tag @user.profile_img,
        width: 300, height: 300, class: 'img-circle profile-img' %>
    </div>
    <%= render 'show_profile' %>
    <%= render 'edit_profile' %>
</div>

<div id="user-content">
    <div class="accent"><%= @user.name %>'s Voice</div>
    <div id="user-sounds">
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </div>

    <div class="accent"><%= @user.name %>'s Posts</div>
    <div id="user-posts">
        <div class="buttons">
            <%= link_to 'Create Post', new_post_path, class: 'btn btn-default' %>
        </div>
        <%= render @posts %>
    </div>

</div>

