<div id="profile-content" class="container-fluid">
<div class="row">
    <div id="user-profile" class="col-md-5 col-xs-12">

        <div class="accent">
            A little about <span class="logo-style"><%= @user.name %></span>
        </div>
        <div><%= image_tag @user.profile_img,
            class: 'img-circle profile-img center-block' %>
        </div>
        <%= render 'show_profile' %>
        <%= render 'edit_profile' %>

    </div>

    <div id="user-content" class="col-md-7 col-xs-12">

        <div class="section-header">
            <div class="accent">
                <span class="logo-style"><%= @user.name %></span>'s Voice
            </div>
        </div>
        <div id="user-sounds">
            <%= render "sounds/form" %>
            <%= render @sounds %>
        </div>

        <div class="section-header">
            <span class="accent">
                <span class="logo-style"><%= @user.name %></span>'s Posts
            </span>
            <% if current_user == @user %>
                <%= link_to 'Create Post', new_post_path, class: 'btn btn-default', id: 'create-post-btn' %>
            <% end %>
        </div>
        <div id="show-posts">
            <%= render @posts %>
        </div>

    </div>
</div>
</div>

