<div class="post">

    <div class="post-header">
      <span class="post-time">
        Posted <%= time_ago_in_words(post.created_at) %> ago
      </span>
      <%= image_tag post.user.profile_img,
        class: 'img-circle user-icon' %>
      <span class="post-user">
        <%= link_to post.user.name, user_path(post.user) %> of the <%= post.user.family_name %> family
      </span>
    </div>

    <div class="post-body"><%= post.body %></div>
    <% if post.img_url? %>
    <%= image_tag post.img_url,
        class: "img-rounded post-image"
    %>
    <% end %>
    <% if post.video_url? %>
    <%= video_tag post.video_url, controls: true, autobuffer: true,
        class: "post-video"
    %>
    <% end %>

    <div class="buttons">
      <div class="btn btn-default btn-sm" id="comments-btn">
        Show/Hide Comments
      </div>

      <% if current_user == post.user %>
      <div class="btn btn-default btn-sm">
        <%= link_to 'Edit', edit_post_path(post.id) %>
      </div>
      <div class="btn btn-danger btn-sm">
        <%= link_to "Delete", post, method: :delete,
            data: { confirm: "You sure?" } %>
      </div>
      <% end %>
    </div>

    <div class="add-comment">
      <%= form_for @comment, :url => post_comments_path(post) do |f| %>
        <%= f.text_field :body, :placeholder => "...Comment...", class: "new-comment-form" %>
        <%= f.select :sound_id do %>
            <%= content_tag :option, "add voice" %>
          <% @user.sounds.each do |s| -%>
            <%= content_tag :option, s.sound_type, value: s.id %>
          <% end %>
        <% end %>
      <%= f.submit "Comment", class: "btn btn-success btn-xs", id: "new-comment-btn" %>
      <% end %>
    </div>

    <div class="show-comments">
      <% post.comments.each do |comment| %>
        <div class="comment">
          <%= image_tag comment.user.profile_img, class: 'img-circle comment-icon' %>
          <div><%= link_to comment.user.name, user_path(comment.user) %>&nbsp;&nbsp;</div>
          <div>
            <%= comment.body %>&nbsp;&nbsp;&nbsp;
            <% if comment.sound %>
            <span class="play">
              <%= comment.sound.sound_type %>♪
              <%= audio_tag comment.sound.sound_url, id: comment.sound.id, class: "audio-play" %>
            </span>
            <% end %>
          </div>
          <% if comment.user == current_user %>
          <span id="delete-comment"><%= link_to "✖", post_comment_path(post.id, comment.id), method: :delete %>&nbsp;</span>
          <% end %>
        </div>
      <% end %>
    </div>

</div>
