<!DOCTYPE html>
<html>
<head>
  <title>Pettsup</title>
  <%= favicon_link_tag 'http://www.clipartsheep.com/download.php?img=http://2.bp.blogspot.com/-4i47NLtqI2U/UqxJwGk2BZI/AAAAAAAAA-Q/WFPw4napaF4/s1600/dog-and-cat-clipart_1.png&w=32' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Rokkitt:400,700|Swanky+and+Moo+Moo|Laila:400,500' rel='stylesheet' type='text/css'>
</head>

<body>

  <%= render "shared/header" %>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="logo-style">Petss<span>up</span></div>
    <div id="copyright">La© 2016</div>
  </footer>

</body>

</html>
