<!DOCTYPE html>
<html>
<head>
  <title>La's Project-2</title>
  <%= favicon_link_tag 'http://www.free-icons-download.net/images/cute-puppy-icon-38217.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Rokkitt:400,700|Swanky+and+Moo+Moo|Laila:400,500' rel='stylesheet' type='text/css'>
</head>

<body>

  <%= render "shared/header" %>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="logo-style">Petss<span>up</span></div>
    <div id="copyright">La© 2016</div>
  </footer>

</body>

</html>
